{% extends 'base.html' %}
{% block url_name %}Railway Data{% endblock %}
{% block url_title %}Upload CSV File For Updating Staff{% endblock %}
{% block breadcrum %} 
<li class="breadcrumb-item">
    <a href="index.html">
<i class="fa fa-file"></i></a>
</li>

<li class="breadcrumb-item">
    CSV
</li>

<li class="breadcrumb-item">
    <a href="/user/add_staff_csv">Upload Staff Data</a>
</li>
{% endblock %}
{% block title %}Railway Data Upload Staff Name Update{% endblock %}



{% block body %}


{% for message in messages %}
<div id="alert" class="alert alert-{{ message.tags }}">{{message}}
</div>
  
<script type="text/javascript">
setTimeout(function () {
    $('#alert').alert('close');
}, 4000);
</script>
{% endfor %}


<div class="mx-2">
	<form action="/user/add_staff_csv/" method="POST"enctype="multipart/form-data">{% csrf_token %}

		<div class="form-outline form-white mb-4" style="color:blue;" >
		<label class="form-label" for="csv">Upload CSV File For Updating Staff Name</label>
		<input type="file" name="csv" id="csv" class="form-control form-control-lg" required>
		</div>

		<button class="btn btn-danger">Upload</button>

	</form>
</div>


{% endblock %}222