{% extends 'base.html' %}
{% load custom %}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src='https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js
'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>
$(document).ready(function() {
    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#select-all').click(function() {
        var checked = this.checked;
        $('input[type="checkbox"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })
});
</script>

<style>
#more {display: none;}
</style>

<form action="/user/bottom_train_data_pie_chart/" method="POST">{% csrf_token %}

<center>
<div class="form-check">
  {% if 'all' in check_type %}
  <input type="checkbox" name="check-type" id="select-all" value="all" checked>
  {% else %}
  <input type="checkbox" name="check-type" id="select-all" value="all">
  {% endif %}
<label style="margin-right:12px"><h5>Select All</h5></label>
  {% if 'rncc' in check_type %}
      <input type="checkbox" name="check-type" id="rncc" this="true" value="rncc" checked>
  {% else %}
      <input type="checkbox" name="check-type" id="rncc" this="true" value="rncc">
  {% endif %}
<label style="margin-right:12px"><h5>RNCC</h5></label>

  {% if 'rgd' in check_type %}
      <input type="checkbox" name="check-type" id="rgd" this="true" value="rgd" checked>
  {% else %}
      <input type="checkbox" name="check-type" id="rgd" this="true" value="rgd" >
  {% endif %}
<label style="margin-right:12px"><h5>RGD</h5></label><br>

  <span id="dots"></span><span id="more">
    {% for train_number in main_train %}

      {% if train_number|convertint in rncc %}
          {% if train_number|convertint in checked %}
              <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rncc="true" this="true" checked>
          {% else %}
            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rncc="true" this="true">
          {% endif %}

      {% elif train_number|convertint in rgd %}
          {% if train_number|convertint in checked %}
              <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rgd="true" this="true" checked>
          {% else %}
            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rgd="true" this="true">
          {% endif %}
      {% else %}
          {% if train_number|convertint in checked %}
              <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" this="true" checked>
          {% else %}
            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" this="true">
          {% endif %}
      {% endif %}
      <label> {{train_number|convertint}}&nbsp;&nbsp;</label>

  {% endfor %}
</div></center>
</span>
<center><button onclick="myFunction()" id="myBtn" class="btn btn-primary btn-sm" type="button">Read more</button></center><br>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>



  <center class="center">

    {% if post %}
        <label for="train_count"><b>Enter Train Count:</b></label>
        <input id="staff" type="number" name="train_count" value={{train_count}} required>
        <label for="start_date"><b>From:</b></label>
        <input id = "start-date" type="date" name="start_date" value="{{start_date}}" required>
        <label for="end_date"><b>To:</b></label>
        <input id="end-date" type="date" name="end_date" value="{{end_date}}" required>
    {% else %}
        <label for="staff_count"><b>Enter Staff Count:</b></label>
        <input id="staff" type="number" name="train_count" required>
        <label for="start_date"><b>From:</b></label>
        <input id = "start-date" type="date" name="start_date" required>
        <label for="end_date"><b>To:</b></label>
        <input id="end-date" type="date" name="end_date" required>
    {% endif %}


    <button type="submit" class="btn btn-danger">Submit</button>
  </center>
</form>

<br>
<div class="col-xl-12 col-md-12 ">
<div class="card">
<div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div>

<div class="card-block">
<div id="sales-analytics" style="height:100%;">

<div class="chart-container">
  <center><h4><u>Data Show Graph For Bottom {{train_count}} Train Number Complaint Wise</u></h4></center>

<div class="my-4 container-fluid d-flex justify-content-center">
  <button class="btn btn-success btn-sm" onClick="download()">Download Data-Graph</button>
</div>
<canvas id="myChart" height="57px" width="100%"></canvas>
<br>




<script>
var canvasP = document.getElementById("myChart");
var ctxP = canvasP.getContext('2d');
var myPieChart = new Chart(ctxP, {
   type: 'pie',
   data: {
      labels: [{% for m in bottom_train %}'{{m}}',{% endfor %}],
      datasets: [
        {   
            data: {{bottom_data_count}},
            backgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA","#8C006C","#828C00","#00838C"],
            hoverBackgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA","#8C006C","#828C00","#00838C"]
       }]
   },
   options: {
    legend: {
         display: true,
         position: "top"
      },

}
});

canvasP.onclick = function(e) {
   var slice = myPieChart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
      // add case for each label/slice
      {% for p_t in bottom_train %}
      case '{{p_t}}':
         window.open('/user/complain/{{p_t}}');
         break;
      {% endfor %}
   }
}

function download(){
  const imageLink = document.createElement('a');
  const canvas = document.getElementById('myChart');
  imageLink.download = 'Bottom_Train_Complain_Pie.png'
  imageLink.href = canvas.toDataURL('media/data/canvas',1);
  // window.open(imageLink);
  // document.write('<img src=" '+imageLink+' "/>')

  // console.log(imageLink.href);
  imageLink.click();
}
</script>




</div>
</div>
</div>
</div>





{% endblock %}


