{% extends 'base.html' %}

{% block url_name %}Change Password{% endblock %}
{% block url_title %}your Password{% endblock %}
{% block breadcrum %} 
<li class="breadcrumb-item">
       <a href="index.html"> 
<i class="fa fa-user"></i></a>
</li>

<li class="breadcrumb-item">
    Profile
</li>

<li class="breadcrumb-item">
    <a href="/user/change_password/change">Change Password</a>
</li>
{% endblock %}
{% block title %}Change Password{% endblock %}



{% block body %}
{% for message in messages %}
<div id="alert" class="alert alert-{{ message.tags }} mx-3">{{message}}
</div>
  
<script type="text/javascript">
setTimeout(function () {
    $('#alert').alert('close');
}, 4000);
</script>
{% endfor %}
<form action="/user/change_password/change/" method="POST">{% csrf_token %}
<section style="background-color: transparent;">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
            <center><h3><u>Change You Password</u></h3></center>
                  <input class="form-control my-1 mx-2" name="c-password" placeholder="Please Enter Current Password" required><br>
                  <input class="form-control my-1 mx-2" name="f-password" placeholder="Please Enter Current Password" required><br>
                  <button class="btn btn-success mx-2 my-3" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
</section>
</form>

{% endblock %}