{% extends 'base.html' %}
{% block url_name %}Your Dashboard{% endblock %}
{% block url_title %}Welcome To Dashboard{% endblock %}
{% block breadcrum %}

<li class="breadcrumb-item">
  <a href="index.html">
<i class="fa fa-home"></i></a>
</li>

<li class="breadcrumb-item">
    See The Data
</li>

<li class="breadcrumb-item">
    <a href="/user/dashboard">Dashboard</a>
</li>
{% endblock %}
{% block title %}Dashboard{% endblock %}



{% block body %}

<style>
.card-blockk {
    padding: 5px;
}
</style>

<!--  sale analytics start -->
<div class="col-xl-8 col-md-12">
<div class="card">
<div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div>

<div class="card-blockk">
<div id="sales-analytics" style="height:100%;">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src='https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js
'></script>



<div class="chart-container">
  <center><h4><u>Data Show Graph For Railway Complaint Type</u></h4></center>

<form action="/user/dashboard/" method="POST">{% csrf_token %}
  <center class="center">

    <label for="start_date"><b>From:</b></label>
    <input type="date" name="start_date">
    
    <label for="end_date"><b>To:</b></label>
    <input name="end_date" type="date">


    <button type="submit" class="btn btn-danger">Submit</button>
  </center>
</form>
{% if show %}
    <canvas id="pieChart" height="450px"></canvas>
{% else %}
<br>
<center><h2>No Data To Display</h2></center>
{% endif %}
</div>




<script>

var canvasP = document.getElementById("pieChart");
var ctxP = canvasP.getContext('2d');
var myPieChart = new Chart(ctxP, {
   type: 'pie',
   data: {
      labels: [{% for d in data %}'{{d}}',{% endfor %}],
      datasets: [{
         data: [{% for occur in occur %}{{occur}},{% endfor %}],
         backgroundColor: ["#64B5F6", "#FFD54F", "#2196F3", "#FFC107", "#1976D2", "#FFA000", "#0D47A1"],
         hoverBackgroundColor: ["#B2EBF2", "#FFCCBC", "#4DD0E1", "#FF8A65", "#00BCD4", "#FF5722", "#0097A7"]
      }]
   },
   options: {
      responsive: true,
  }
});


canvasP.onclick = function(e) {
   var slice = myPieChart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
      // add case for each label/slice
      {% for data in data %}
      case '{{data}}':
         window.open('/user/complain/{{data}}');
         break;
      {% endfor %}
   }
}
</script>


</div>
</div>
</div>
</div>












{% endblock %}
