{% extends 'base.html' %}
{% block url_name %}Your Dashboard{% endblock %}
{% block url_title %}Welcome To Dashboard{% endblock %}
{% block breadcrum %}

<li class="breadcrumb-item">
  <a href="index.html">
<i class="fa fa-home"></i></a>
</li>

<li class="breadcrumb-item">
    See The Data
</li>

<li class="breadcrumb-item">
    <a href="/user/dashboard">Dashboard</a>
</li>
{% endblock %}
{% block title %}Dashboard{% endblock %}



{% block body %}

<style>
.card-blockk {
    padding: 5px;
}
</style>

<!--  sale analytics start -->
<div class="col-xl-8 col-md-12">
<div class="card">
<div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div>

<div class="card-blockk">
<div id="sales-analytics" style="height:100%;">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src='https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js
'></script>



<div class="chart-container">
  <center><h4><u>Data Show Graph For Railway Complaint Type</u></h4></center>

<form action="/user/dashboard/" method="POST">{% csrf_token %}
  <center class="center">

{% if post %}
   <label for="start_date"><b>From:</b></label>
   <input id = "start-date" type="date" name="start_date" value="{{start_date}}">
   <label for="end_date"><b>To:</b></label>
   <input id="end-date" type="date" name="end_date" value="{{end_date}}">
{% else %}
   <label for="start_date"><b>From:</b></label>
   <input id = "start-date" type="date" name="start_date">
   <label for="end_date"><b>To:</b></label>
   <input id="end-date" type="date" name="end_date">
{% endif %}


    <button type="submit" class="btn btn-danger">Submit</button>
  </center>
</form>
{% if show %}
    <button onClick="download()">Download Data-Graph</button>
    <canvas id="pieChart" height="200px"></canvas>
{% else %}
<br>
<center><h2>No Data To Display</h2></center>
{% endif %}
</div>




<script>

var canvasP = document.getElementById("pieChart");
var ctxP = canvasP.getContext('2d');
var myPieChart = new Chart(ctxP, {
   type: 'pie',
   data: {
      labels: [{% for d in data %}'{{d}}',{% endfor %}],
      datasets: [

      {
         data: [{% for occur in occur %}{{occur}},{% endfor %}],
         backgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA","#8C006C","#828C00","#00838C"],
         hoverBackgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA","#8C006C","#828C00","#00838C"]
      }]
   },
   options: {
      responsive: true,
  }
});


canvasP.onclick = function(e) {
   var slice = myPieChart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
      // add case for each label/slice
      {% for data in data %}
      case '{{data}}':
         window.open('/user/complain/{{data}}');
         break;
      {% endfor %}
   }
};


function download(){
  const imageLink = document.createElement('a');
  const canvas = document.getElementById('pieChart');
  imageLink.download = 'Data.png'
  imageLink.href = canvas.toDataURL('media/data/canvas',1);
  // window.open(imageLink);
  // document.write('<img src=" '+imageLink+' "/>')

  // console.log(imageLink.href);
  imageLink.click();
}
</script>


</div>
</div>
</div>
</div>












{% endblock %}
