{% extends 'base.html' %}
{% block url_name %}Your Dashboard{% endblock %}
{% block url_title %}Welcome To Dashboard{% endblock %}
{% block breadcrum %}

<li class="breadcrumb-item">
  <a href="index.html">
<i class="fa fa-home"></i></a>
</li>

<li class="breadcrumb-item">
    See The Data
</li>

<li class="breadcrumb-item">
    <a href="/user/dashboard">Dashboard</a>
</li>
{% endblock %}
{% block title %}Dashboard{% endblock %}



{% block body %}



<div class="pcoded-inner-content">
<!-- Main-body start -->
<div class="main-body">
<div class="page-wrapper">
<!-- Page-body start -->
<div class="page-body">
<div class="row">
<!-- task, page, download counter  start -->
<div class="col-xl-3 col-md-6">
<div class="card">
<div class="card-block">
<div class="row align-items-center">
  <div class="col-8">
      <h4 class="text-c-purple">$30200</h4>
      <h6 class="text-muted m-b-0">All Earnings</h6>
  </div>
  <div class="col-4 text-right">
      <i class="fa fa-bar-chart f-28"></i>
  </div>
</div>
</div>
<div class="card-footer bg-c-purple">
<div class="row align-items-center">
  <div class="col-9">
      <p class="text-white m-b-0">% change</p>
  </div>
  <div class="col-3 text-right">
      <i class="fa fa-line-chart text-white f-16"></i>
  </div>
</div>

</div>
</div>
</div>
<div class="col-xl-3 col-md-6">
<div class="card">
<div class="card-block">
<div class="row align-items-center">
  <div class="col-8">
      <h4 class="text-c-green">290+</h4>
      <h6 class="text-muted m-b-0">Page Views</h6>
  </div>
  <div class="col-4 text-right">
      <i class="fa fa-file-text-o f-28"></i>
  </div>
</div>
</div>
<div class="card-footer bg-c-green">
<div class="row align-items-center">
  <div class="col-9">
      <p class="text-white m-b-0">% change</p>
  </div>
  <div class="col-3 text-right">
      <i class="fa fa-line-chart text-white f-16"></i>
  </div>
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-md-6">
<div class="card">
<div class="card-block">
<div class="row align-items-center">
  <div class="col-8">
      <h4 class="text-c-red">145</h4>
      <h6 class="text-muted m-b-0">Task Completed</h6>
  </div>
  <div class="col-4 text-right">
      <i class="fa fa-calendar-check-o f-28"></i>
  </div>
</div>
</div>
<div class="card-footer bg-c-red">
<div class="row align-items-center">
  <div class="col-9">
      <p class="text-white m-b-0">% change</p>
  </div>
  <div class="col-3 text-right">
      <i class="fa fa-line-chart text-white f-16"></i>
  </div>
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-md-6">
<div class="card">
<div class="card-block">
<div class="row align-items-center">
  <div class="col-8">
      <h4 class="text-c-blue">500</h4>
      <h6 class="text-muted m-b-0">Downloads</h6>
  </div>
  <div class="col-4 text-right">
      <i class="fa fa-hand-o-down f-28"></i>
  </div>
</div>
</div>
<div class="card-footer bg-c-blue">
<div class="row align-items-center">
  <div class="col-9">
      <p class="text-white m-b-0">% change</p>
  </div>
  <div class="col-3 text-right">
      <i class="fa fa-line-chart text-white f-16"></i>
  </div>
</div>
</div>
</div>
</div>
<!-- task, page, download counter  end -->



<style>
.card-blockk {
    padding: 5px;
}
</style>

<!--  sale analytics start -->
<div class="col-xl-8 col-md-12">
<div class="card">
<div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div>

<div class="card-blockk">
<div id="sales-analytics" style="height:100%;">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src='https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js
'></script>



<div class="chart-container">
  <center><h4><u>Data Show Graph For Railway Complaint Type</u></h4></center>

<form action="/user/dashboard/" method="POST">{% csrf_token %}
  <center class="center">

    <label for="start_date"><b>From:</b></label>
    <input type="date" name="start_date">
    
    <label for="end_date"><b>To:</b></label>
    <input name="end_date" type="date">


    <button type="submit" class="btn btn-danger">Submit</button>
  </center>
</form>
{% if show %}
    <canvas id="pieChart" height="450px"></canvas>
{% else %}
<br>
<center><h2>No Data To Display</h2></center>
{% endif %}
</div>




<script>

var canvasP = document.getElementById("pieChart");
var ctxP = canvasP.getContext('2d');
var myPieChart = new Chart(ctxP, {
   type: 'pie',
   data: {
    {% if post %}
      labels: [{% for d in data %}'{{d}}', {% endfor %}],
    {% else %}
    labels: [{% for data in data %}{% for d in data %}'{{d}}', {% endfor %}{% endfor %}],
    {% endif %}
      datasets: [{
         data: [{% for occur in occur %}{{occur}},{% endfor %}],
         backgroundColor: ["#64B5F6", "#FFD54F", "#2196F3", "#FFC107", "#1976D2", "#FFA000", "#0D47A1"],
         hoverBackgroundColor: ["#B2EBF2", "#FFCCBC", "#4DD0E1", "#FF8A65", "#00BCD4", "#FF5722", "#0097A7"]
      }]
   },
   options: {
      responsive: true,
  }
});


canvasP.onclick = function(e) {
   var slice = myPieChart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
      // add case for each label/slice
      {% for data in data %}
      {% for d in data %}
      case '{{d}}':
         window.open('/user/complain/{{d}}');
         break;
      {% endfor %}
      {% endfor %}
   }
}
</script>


</div>
</div>
</div>
</div>


















<div class="col-xl-4 col-md-12">
<div class="card">
<div class="card-block">
<div class="row">
  <div class="col">
      <h4>$256.23</h4>
      <p class="text-muted">This Month</p>
  </div>
  <div class="col-auto">
      <label class="label label-success">+20%</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
      <canvas id="this-month" style="height: 150px;"></canvas>
  </div>
</div>
</div>
</div>
<div class="card quater-card">
<div class="card-block">
<h6 class="text-muted m-b-15">This Quarter</h6>
<h4>$3,9452.50</h4>
<p class="text-muted">$3,9452.50</p>
<h5>87</h5>
<p class="text-muted">Online Revenue<span class="f-right">80%</span></p>
<div class="progress"><div class="progress-bar bg-c-blue" style="width: 80%"></div></div>
<h5 class="m-t-15">68</h5>
<p class="text-muted">Offline Revenue<span class="f-right">50%</span></p>
<div class="progress"><div class="progress-bar bg-c-green" style="width: 50%"></div></div>
</div>
</div>
</div>
<!--  sale analytics end -->

<!--  project and team member start -->
<!-- <div class="col-xl-8 col-md-12">
<div class="card table-card">
<div class="card-header">
<h5>Projects</h5>
<div class="card-header-right">
  <ul class="list-unstyled card-option">
      <li><i class="fa fa fa-wrench open-card-option"></i></li>
      <li><i class="fa fa-window-maximize full-card"></i></li>
      <li><i class="fa fa-minus minimize-card"></i></li>
      <li><i class="fa fa-refresh reload-card"></i></li>
      <li><i class="fa fa-trash close-card"></i></li>
  </ul>
</div>
</div> -->
<!-- <div class="card-block">
<div class="table-responsive">
  <table class="table table-hover">
      <thead>
      <tr>
          <th>
              <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                      <label class="check-task">
                          <input type="checkbox" value="">
                          <span class="cr">
                                  <i class="cr-icon fa fa-check txt-default"></i>
                              </span>
                      </label>
                  </div>
              </div>
              Assigned</th>
          <th>Name</th>
          <th>Due Date</th>
          <th class="text-right">Priority</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>
              <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                      <label class="check-task">
                          <input type="checkbox" value="">
                          <span class="cr">
                                      <i class="cr-icon fa fa-check txt-default"></i>
                                  </span>
                      </label>
                  </div>
              </div>
              <div class="d-inline-block align-middle">
                  <img src="/media/assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                      <h6>John Deo</h6>
                      <p class="text-muted m-b-0">Graphics Designer</p>
                  </div>
              </div>
          </td>
          <td>Able Pro</td>
          <td>Jun, 26</td>
          <td class="text-right"><label class="label label-danger">Low</label></td>
      </tr>
      <tr>
          <td>
              <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                      <label class="check-task">
                          <input type="checkbox" value="">
                          <span class="cr">
                                      <i class="cr-icon fa fa-check txt-default"></i>
                                  </span>
                      </label>
                  </div>
              </div>
              <div class="d-inline-block align-middle">
                  <img src="/media/assets/images/avatar-5.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                      <h6>Jenifer Vintage</h6>
                      <p class="text-muted m-b-0">Web Designer</p>
                  </div>
              </div>
          </td>
          <td>Mashable</td>
          <td>March, 31</td>
          <td class="text-right"><label class="label label-primary">high</label></td>
      </tr>
      <tr>
          <td>
              <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                      <label class="check-task">
                          <input type="checkbox" value="">
                          <span class="cr">
                                      <i class="cr-icon fa fa-check txt-default"></i>
                                  </span>
                      </label>
                  </div>
              </div>
              <div class="d-inline-block align-middle">
                  <img src="/media/assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                      <h6>William Jem</h6>
                      <p class="text-muted m-b-0">Developer</p>
                  </div>
              </div>
          </td>
          <td>Flatable</td>
          <td>Aug, 02</td>
          <td class="text-right"><label class="label label-success">medium</label></td>
      </tr>
      <tr>
          <td>
              <div class="chk-option">
                  <div class="checkbox-fade fade-in-primary">
                      <label class="check-task">
                          <input type="checkbox" value="">
                          <span class="cr">
                                      <i class="cr-icon fa fa-check txt-default"></i>
                                  </span>
                      </label>
                  </div>
              </div>
              <div class="d-inline-block align-middle">
                  <img src="/media/assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                      <h6>David Jones</h6>
                      <p class="text-muted m-b-0">Developer</p>
                  </div>
              </div>
          </td>
          <td>Guruable</td>
          <td>Sep, 22</td>
          <td class="text-right"><label class="label label-primary">high</label></td>
      </tr>
      </tbody>
  </table>
  <div class="text-right m-r-20">
      <a href="#!" class=" b-b-primary text-primary">View all Projects</a>
  </div>
</div>
</div>
</div>
</div>
<div class="col-xl-4 col-md-12">
<div class="card ">
<div class="card-header">
<h5>Team Members</h5>
<div class="card-header-right">
  <ul class="list-unstyled card-option">
      <li><i class="fa fa fa-wrench open-card-option"></i></li>
      <li><i class="fa fa-window-maximize full-card"></i></li>
      <li><i class="fa fa-minus minimize-card"></i></li>
      <li><i class="fa fa-refresh reload-card"></i></li>
      <li><i class="fa fa-trash close-card"></i></li>
  </ul>
</div>
</div> -->
<!-- <div class="card-block">
<div class="align-middle m-b-30">
  <img src="/media/assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
  <div class="d-inline-block">
      <h6>David Jones</h6>
      <p class="text-muted m-b-0">Developer</p>
  </div>
</div>
<div class="align-middle m-b-30">
  <img src="/media/assets/images/avatar-1.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
  <div class="d-inline-block">
      <h6>David Jones</h6>
      <p class="text-muted m-b-0">Developer</p>
  </div>
</div>
<div class="align-middle m-b-30">
  <img src="/media/assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
  <div class="d-inline-block">
      <h6>David Jones</h6>
      <p class="text-muted m-b-0">Developer</p>
  </div>
</div>
<div class="align-middle m-b-30">
  <img src="/media/assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
  <div class="d-inline-block">
      <h6>David Jones</h6>
      <p class="text-muted m-b-0">Developer</p>
  </div>
</div>
<div class="align-middle m-b-10">
  <img src="/media/assets/images/avatar-5.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
  <div class="d-inline-block">
      <h6>David Jones</h6>
      <p class="text-muted m-b-0">Developer</p>
  </div>
</div>
<div class="text-center">
  <a href="#!" class="b-b-primary text-primary">View all Projects</a>
</div> -->
</div>
</div>
</div>
<!--  project and team member end -->
</div>
</div>
<!-- Page-body end -->
</div>
<div id="styleSelector"> </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
