{% extends 'base.html' %}
{% load custom %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>
$(document).ready(function() {
    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#select-all').click(function() {
        var checked = this.checked;
        $('input[this="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#select-all-2').click(function() {
        var checked = this.checked;
        $('input[that="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#select-all-2').click(function() {
        var checked = this.checked;
        $('input[that="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })

    $('#select-all-2').click(function() {
        var checked = this.checked;
        $('input[r_all="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })
});
</script>

<style>
#more {display: none;}
</style>



<form action="/user/min_complain_coach/" method="POST">{% csrf_token %}




<center>
<div class="form-check">
  {% if 'all' in check_type %}
  <input type="checkbox" name="check-type" id="select-all" value="all" checked>
  <label style="margin-right:12px"><h5>Select All</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rncc" this="true" value="rncc" checked>
  <label style="margin-right:12px"><h5>RNCC</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rgd" this="true" value="rgd" checked>
  <label style="margin-right:12px"><h5>RGD</h5></label><br>

  {% elif "rgd" in check_type and "rncc" in check_type %}

  <input  type="checkbox" name="check-type" id="select-all" value="all">
  <label style="margin-right:12px"><h5>Select All</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rncc" value="rncc" checked>
  <label style="margin-right:12px"><h5>RNCC</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rgd" value="rgd" checked>
  <label style="margin-right:12px"><h5>RGD</h5></label><br>

  {% elif "rncc" in check_type %}

  <input type="checkbox" name="check-type" id="select-all" value="all">
  <label style="margin-right:12px"><h5>Select All</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rncc" value="rncc" checked>
  <label style="margin-right:12px"><h5>RNCC</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rgd" value="rgd">
  <label style="margin-right:12px"><h5>RGD</h5></label><br>
  
  {% elif "rgd" in check_type %}

  <input type="checkbox" name="check-type" id="select-all" value="all">
  <label style="margin-right:12px"><h5>Select All</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rncc" value="rncc">
  <label style="margin-right:12px"><h5>RNCC</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rgd" value="rgd" checked>
  <label style="margin-right:12px"><h5>RGD</h5></label><br>
  
  {% else %}
  <input type="checkbox" name="check-type" id="select-all" value="all">
  <label style="margin-right:12px"><h5>Select All</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rncc" value="rncc">
  <label style="margin-right:12px"><h5>RNCC</h5></label>
  

  <input this="true" type="checkbox" name="check-type" id="rgd" value="rgd">
  <label style="margin-right:12px"><h5>RGD</h5></label><br>
  
  {% endif %}


  <span id="dots"></span><span id="more">
    {% for train_number in main_train %}

    {% if train_number|convertint in rncc %}
        {% if train_number|convertint in checked %}
            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rncc="true" this="true" checked>
        {% else %}
           <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rncc="true" this="true">
        {% endif %}

    {% elif train_number|convertint in rgd %}
        {% if train_number|convertint in checked %}
            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rgd="true" this="true" checked>
        {% else %}
           <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rgd="true" this="true">
        {% endif %}
    {% else %}
        {% if train_number|convertint in checked %}
            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" this="true" checked>
        {% else %}
           <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" this="true">
        {% endif %}
    {% endif %}
        <label>
        {{train_number|convertint}}&nbsp;&nbsp;
        </label>
  {% endfor %}
</div></center>
</span>
<center><button onclick="myFunction()" id="myBtn" type="button">Show more</button></center><br>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Show more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Show less"; 
    moreText.style.display = "inline";
  }
}
</script>



<center>
<div class="form-check">
  <div class="select-type d-flex justify-content-center">
    <div class="select-all">
        <label><h5>Select All</h5></label>
        {% if 'all' in complain_category %}
            <input type="checkbox" name="complain-category" value="all" id="select-all-2" complain="true" checked>
        {% else %}
            <input type="checkbox" name="complain-category" value="all" id="select-all-2">
        {% endif %}
    </div>

    <div class="select-critical mx-3">
        <label><h5>Select Critical</h5></label>
        {% if 'critical' in complain_category %}
            <input type="checkbox" name="complain-category" critical="true" complain="true" value="critical" r_all="true" id="select-critical" checked>
        {% else %}
            <input type="checkbox" critical="true" complain="true" name="complain-category" value="critical" r_all="true" id="select-critical">
        {% endif %}
    </div>
</div>

  {% for all_t in all_type %}
    {% if all_t in critical_type %}
        {% if all_t in complain_type and post %}
            <input type="checkbox" name="complain_type" class="check-box" value="{{all_t}}" complain="true"  r_all="true" critical="true" checked>
        {% else %}
            <input type="checkbox" name="complain_type" class="check-box" value="{{all_t}}" complain="true"  r_all="true" critical="true">
        {% endif %}
    {% else %} 
        {% if all_t in complain_type and post %}
            <input type="checkbox" name="complain_type" class="check-box" value="{{all_t}}" critical="false"  r_all="true" complain="true" r_all="true" checked>
        {% else %}
            <input type="checkbox" name="complain_type" class="check-box" value="{{all_t}}" critical="false"  r_all="true" complain="true" r_all="true">
        {% endif %}
        
    {% endif %}
        <label>
        {{all_t}}&nbsp;&nbsp;
        </label>
  {% endfor %}
</div></center>

  <center class="center">

    {% if post %}
      <label for="start_date"><b>From:</b></label>
      <input id = "start-date" type="date" name="start_date" value="{{start_date}}">
      <label for="end_date"><b>To:</b></label>
      <input id="end-date" type="date" name="end_date" value="{{end_date}}">
    {% else %}
      <label for="start_date"><b>From:</b></label>
      <input id = "start-date" type="date" name="start_date">
      <label for="end_date"><b>To:</b></label>
      <input id="end-date" type="date" name="end_date">
    {% endif %}


    <button type="submit" class="btn btn-danger">Submit</button>
  </center>
</form>

<div class="col-xl-8 col-md-12">
<div class="card">
<div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div>

<div class="card-blockk">
<div id="sales-analytics" style="height:100%;">

<div class="chart-container">
  <center><h4><u>Data Show Graph For Minimum Complain from Each Complain Type</b></u></h4></center>

    <canvas id="myChart" height="55px" width="100%"></canvas>





<script>
var canvasP = document.getElementById("myChart");
var ctxP = canvasP.getContext('2d');
var myPieChart = new Chart(ctxP, {
   type: 'bar',
   data: {
      labels: [{% for t in total %}'{{t.1}}-({{t.2}})',{% endfor %}],
      datasets: [
        {   
            label:'Minimum Number',
            data: [{% for t in total %} {{t.0}}, {% endfor %}],
            backgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA","#8C006C","#828C00","#00838C"],
            hoverBackgroundColor: ["#FF3838", "#C3792B", "#2196F3", "#A70101", "#36A701", "#0148A7", "#2BC3BA","#8C006C","#828C00","#00838C"]
       }]
   },
   options: {
    legend: {
         display: true,
         position: "top"
      },
      scales: {
          yAxes: [{
              ticks: {
                  beginAtZero: true
              }
          }]
      }

}
});

canvasP.onclick = function(e) {
   var slice = myPieChart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
      // add case for each label/slice
      {% for t in total %}
      case '{{t.1}}-({{t.2}})':
         window.open('/user/complain/{{t.1}}');
         break;
      {% endfor %}
   }
}

</script>




</div>
</div>
</div>
</div>





{% endblock %}


