{% extends 'base.html' %}
{% load custom %}
{% block body %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>
$(document).ready(function() {
    $('#select-all').click(function() {
        var checked = this.checked;
        $('input[type="checkbox"]').each(function() {
        this.checked = checked;
    });
    })
});
</script>

<center>
<div class="form-check">
  <label><h5>Select All</h5></label>
  <input type="checkbox" id="select-all"><br>
      {% for t_n in train_number %}
      {% for train_number in t_n %}

  <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}">
  <label>
    {{train_number | convertint}}&nbsp;&nbsp;
  </label>

      {% endfor %}
      {% endfor %}
</div></center>


<div class="col-xl-8 col-md-12">
<div class="card">
<div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div>

<div class="card-blockk">
<div id="sales-analytics" style="height:100%;">



<div class="chart-container">
  <center><h4><u>Data Show Graph For Railway Complaint Type</u></h4></center>

<form action="/user/rating/" method="POST">{% csrf_token %}
  <center class="center">

    <label for="start_date"><b>From:</b></label>
    <input type="date" name="start_date">
    
    <label for="end_date"><b>To:</b></label>
    <input name="end_date" type="date">


    <button type="submit" class="btn btn-danger">Submit</button>
  </center>
</form>
{% if show %}
    <canvas id="pieChart1" height="110px" width="100%"></canvas>
{% else %}
<br>
<center><h2>No Data To Display</h2></center>
{% endif %}
</div>




<script>
var canvasP = document.getElementById("pieChart1");
var ctxP = canvasP.getContext('2d');
var myPieChart = new Chart(ctxP, {
   type: 'bar',
   data: {
    {% if post %}
      labels: [{% for m in months %}'{{m}}',{% endfor %}],
    {% else %}
    labels: ['All Data'],
    {% endif %}
      datasets: [
        {
            label: "Unsatisfactory",
            backgroundColor: "red",
            data: {{unsatis}}
        },
        {
            label: "Satisfactory",
            backgroundColor: "blue",
            data: {{satis}}
        },
        {
            label: "Excellent",
            backgroundColor: "green",
            data: {{excel}}
        },
        {
            label: "nan",
            backgroundColor: "black",
            data: {{nan}}
        }]
   },
   options: {
      legend: {
         display: true,
         position: "top"
      }
}
});

canvasP.onclick = function(e) {
   var slice = myPieChart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
      // add case for each label/slice
      {% for m in months %}
      case '{{m}}':
         window.open('/user/complain/{{m}}');
         break;
      {% endfor %}
      case 'All Data':
         window.open('/user/complain/All_data');
         break;
      // add rests ...
   }
}
</script>


</div>
</div>
</div>
</div>










{% endblock %}




