{% extends 'base.html' %}
{% load custom %}
{% block body %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<!-- <script>
$(document).ready(function() {
    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#select-all').click(function() {
        var checked = this.checked;
        $('input[this="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })
});
</script> -->

<style>
#more {display: none;}
</style>


<script>
$(document).ready(function() {
    $('#select-all-2').click(function() {
        var checked = this.checked;
        $('input[complain="true"]').each(function() {
        this.checked = checked;
    });
    })


    $('#select-critical').click(function() {
        var checked = this.checked;
        $('input[critical="true"]').each(function() {
        this.checked = checked;
    });
    })



    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#select-all').click(function() {
        var checked = this.checked;
        $('input[this="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })
});
</script>




<form action="/user/staff_graph/" method="POST">{% csrf_token %}

<center>
<div class="form-check">
        {% if 'all' in check_type %}
        <input type="checkbox" name="check-type" id="select-all" value="all" checked>
        <label style="margin-right:12px"><h5>Select All</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rncc" this="true" value="rncc" checked>
        <label style="margin-right:12px"><h5>RNCC</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rgd" this="true" value="rgd" checked>
        <label style="margin-right:12px"><h5>RGD</h5></label><br>

        {% elif "rgd" in check_type and "rncc" in check_type %}

        <input  type="checkbox" name="check-type" id="select-all" value="all">
        <label style="margin-right:12px"><h5>Select All</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rncc" value="rncc" checked>
        <label style="margin-right:12px"><h5>RNCC</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rgd" value="rgd" checked>
        <label style="margin-right:12px"><h5>RGD</h5></label><br>

        {% elif "rncc" in check_type %}

        <input type="checkbox" name="check-type" id="select-all" value="all">
        <label style="margin-right:12px"><h5>Select All</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rncc" value="rncc" checked>
        <label style="margin-right:12px"><h5>RNCC</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rgd" value="rgd">
        <label style="margin-right:12px"><h5>RGD</h5></label><br>
        
        {% elif "rgd" in check_type %}

        <input type="checkbox" name="check-type" id="select-all" value="all">
        <label style="margin-right:12px"><h5>Select All</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rncc" value="rncc">
        <label style="margin-right:12px"><h5>RNCC</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rgd" value="rgd" checked>
        <label style="margin-right:12px"><h5>RGD</h5></label><br>
        
        {% else %}
        <input type="checkbox" name="check-type" id="select-all" value="all">
        <label style="margin-right:12px"><h5>Select All</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rncc" value="rncc">
        <label style="margin-right:12px"><h5>RNCC</h5></label>
        

        <input this="true" type="checkbox" name="check-type" id="rgd" value="rgd">
        <label style="margin-right:12px"><h5>RGD</h5></label><br>
        
        {% endif %}


  <span id="dots"></span><span id="more">
      {% for train_number in main_train %}

        {% if train_number|convertint in rncc %}
            {% if train_number|convertint in checked %}
                <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rncc="true" this="true" checked>
            {% else %}
               <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rncc="true" this="true">
            {% endif %}

        {% elif train_number|convertint in rgd %}
            {% if train_number|convertint in checked %}
                <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rgd="true" this="true" checked>
            {% else %}
               <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rgd="true" this="true">
            {% endif %}
        {% else %}
            {% if train_number|convertint in checked %}
                <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" this="true" checked>
            {% else %}
               <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" this="true">
            {% endif %}
        {% endif %}
            <label>
            {{train_number|convertint}}&nbsp;&nbsp;
            </label>

      {% endfor %}
</div></center>
</span>
<center><button onclick="myFunction()" id="myBtn" type="button" class="btn btn-primary btn-sm">Show more</button></center><br>
<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Show more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Show less"; 
    moreText.style.display = "inline";
  }
}
</script>




<center>
<div class="form-check">
    <div class="select-type d-flex justify-content-center">
        <div class="select-all">
            <label><h5>Select All</h5></label>
            {% if 'all' in complain_category %}
                <input type="checkbox" name="complain-category" value="all" id="select-all-2" complain="true" checked>
            {% else %}
                <input type="checkbox" name="complain-category" value="all" id="select-all-2">
            {% endif %}
        </div>

        <div class="select-critical mx-3">
            <label><h5>Select Critical</h5></label>
            {% if 'critical' in complain_category %}
                <input type="checkbox" name="complain-category" critical="true" complain="true" value="critical" id="select-critical" checked>
            {% else %}
                <input type="checkbox" critical="true" complain="true" name="complain-category" value="critical" id="select-critical">
            {% endif %}
        </div>
    </div>
    
      {% for all_t in all_type %}
        {% if all_t in critical_type %}
            {% if all_t in complain_type and post %}
                <input type="checkbox" name="complain_type" class="check-box" value="{{all_t}}" complain="true" critical="true" checked>
            {% else %}
                <input type="checkbox" name="complain_type" class="check-box" value="{{all_t}}" complain="true" critical="true">
            {% endif %}
        {% else %}
            {% if all_t in complain_type and post %}
                <input type="checkbox" name="complain_type" class="check-box" value="{{all_t}}" critical="false" complain="true" r_all="true" checked>
            {% else %}
                <input type="checkbox" name="complain_type" class="check-box" value="{{all_t}}" critical="false" complain="true" r_all="true">
            {% endif %}
            
        {% endif %}
            <label>
            {{all_t}}&nbsp;&nbsp;
            </label>
      {% endfor %}
</div></center>


<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
</style>


  <center class="center">


   
    
    {% if post %}
        <label for="staff_count"><b>Enter Staff Count:</b></label>
        <input id="staff" type="number" name="staff_count" value={{staff_count}} required>
        <label for="start_date"><b>From:</b></label>
        <input id = "start-date" type="date" name="start_date" value="{{start_date}}" required>
        <label for="end_date"><b>To:</b></label>
        <input id="end-date" type="date" name="end_date" value="{{end_date}}" required>
    {% else %}
        <label for="staff_count"><b>Enter Staff Count:</b></label>
        <input id="staff" type="number" name="staff_count" required>
        <label for="start_date"><b>From:</b></label>
        <input id = "start-date" type="date" name="start_date" required>
        <label for="end_date"><b>To:</b></label>
        <input id="end-date" type="date" name="end_date" required>
    {% endif %}

    <button type="submit" class="btn btn-danger">Submit</button>
  </center>
</form>

<br>
<div class="col-xl-12 col-md-12">
<div class="card">
<div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div>

<div class="card-blockk">
<div id="sales-analytics" style="height:100%;">


<div class="chart-container">
    

        <center><h4><u>Data Show Graph For Bottom Staff Name Complaint Wise</u></h4></center>

<br>
<center><button onClick="download()" class="btn btn-success btn-sm">Download Data-Graph</button></center><br>
<canvas id="myStackedChart" width="100px" height="40px"></canvas>
<style>
* {font-family: sans-serif;}
canvas {
background: #f6fafd; /* Old browsers */
background: -moz-linear-gradient(top, #f6fafd 0%, #cbdff2 73%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f6fafd 0%,#cbdff2 73%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f6fafd 0%,#cbdff2 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6fafd', endColorstr='#cbdff2',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
</style>


<script>
// JavaScript source code
// Return with commas in between
var numberWithCommas = function (x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
};

//biomass annual cost

{% for t in total %}
var dataPack{{forloop.counter}} = {{t}};
{% endfor %}
var dates = [{% for b_t in bottom_staff %} "{{b_t}}", {% endfor %}];

var bar_ctx = document.getElementById('myStackedChart');
var ctxP = bar_ctx.getContext('2d');
var bar_chart = new Chart(ctxP, {
    type: 'bar',
    data: {
        labels: dates,
        datasets: [
        {% for t in total %}
            {
              {% if not post %}
                label: '{{ all_type|index:forloop.counter }}',
                data: dataPack{{forloop.counter}},
                backgroundColor: "{{color_code|index:forloop.counter}}",
                hoverBackgroundColor: "{{color_code|index:forloop.counter}}",
                hoverBorderWidth: 2,
                hoverBorderColor:'white'
              {% else %}
              label: '{{ complain_type|index:forloop.counter }}',
              data: dataPack{{forloop.counter}},
              backgroundColor: "{{color_code|index:forloop.counter}}",
              hoverBackgroundColor: "{{color_code|index:forloop.counter}}",
              hoverBorderWidth: 2,
              hoverBorderColor:'white'
              {% endif %}
            },
        {% endfor %}
            
        ]
    },
    options: {
        animation: {
            duration: 10,
        },
        tooltips: {
            mode: 'label',
            callbacks: {
                label: function (tooltipItem, data) {
                    return data.datasets[tooltipItem.datasetIndex].label + ": " + numberWithCommas(tooltipItem.yLabel);
                }
            }
        },
        scales: {
            xAxes: [{
                stacked: true,
                gridLines: { display: false },
            }],
            yAxes: [{
                stacked: true,
                ticks: {
                    callback: function (value) { return numberWithCommas(value); },
                },
            }],
        }, // scales
        legend: { display: true }
    } // options
}
);


bar_ctx.onclick = function(e) {
   var slice = bar_chart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
    {% for b_t in bottom_staff %}
      case '{{b_t}}':
         window.open('/user/complain/{{b_t}}');
         break;
    {% endfor %}
   }
}





function download(){
  const imageLink = document.createElement('a');
  const canvas = document.getElementById('myStackedChart');
  imageLink.download = 'Staff_Graph.png'
  imageLink.href = canvas.toDataURL('media/data/canvas',1);
  // window.open(imageLink);
  // document.write('<img src=" '+imageLink+' "/>')

  // console.log(imageLink.href);
  imageLink.click();
}




</script>




</div>  
</div>
</div>
</div>

{% endblock %}

    


