{% extends 'base.html' %}
{% load custom %}
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src='https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js
'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>
$(document).ready(function() {
    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#select-all').click(function() {
        var checked = this.checked;
        $('input[type="checkbox"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })
});
</script>

<style>
#more {display: none;}
</style>


<form action="/user/sub_type/{{subtype}}/" method="POST">{% csrf_token %}
 

<center>
<div class="form-check">
  <input type="checkbox" id="select-all">
  <label style="margin-right:12px"><h5>Select All</h5></label>

  <input type="checkbox" id="rncc">
  <label style="margin-right:12px"><h5>Select RNCC</h5></label>

  <input type="checkbox" id="rgd">
  <label style="margin-right:12px"><h5>Select RGD</h5></label><br>


  <span id="dots"></span><span id="more">
      {% for train_number in main_train %}

      {% if train_number|convertint in rncc %}

            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rncc="true">

        {% elif train_number|convertint in rgd %}

            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rgd="true">

        {% else %}
        <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}">

        {% endif %}
            <label>
            {{train_number|convertint}}&nbsp;&nbsp;
            </label>

      {% endfor %}
</div></center>
</span>
<center><button onclick="myFunction()" id="myBtn" type="button">Read more</button></center><br>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>


  <center class="center">

    {% if post %}
        <label for="start_date"><b>From:</b></label>
        <input id = "start-date" type="date" name="start_date" value="{{start_date}}">
        <label for="end_date"><b>To:</b></label>
        <input id="end-date" type="date" name="end_date" value="{{end_date}}">
    {% else %}
        <label for="start_date"><b>From:</b></label>
        <input id = "start-date" type="date" name="start_date">
        <label for="end_date"><b>To:</b></label>
        <input id="end-date" type="date" name="end_date">
    {% endif %}



    <button type="submit" class="btn btn-danger">Submit</button>
  </center>
</form>

<div class="col-xl-8 col-md-12">
<div class="card">
<div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div>

<div class="card-blockk">
<div id="sales-analytics" style="height:100%;">

<div class="chart-container">
  <center><h4><u>Data Show Graph For <b>{{subtypes}}</b></u></h4></center>


{% if show %}
    <a target="__blank" href="/user/complain/{{subtype}}/"><canvas id="myChart" height="30px" width="100%"></canvas></a>
{% else %}
<br>
<center><h2>No Data To Display</h2></center>
{% endif %}
</div>




<script>
  const labels = [{% for d in dates %} '{{d}}', {% endfor %}];
  const data = {
    labels: labels,
    datasets: [{
      label: '{{subtype}}',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: {{data_count}},
    }]
  };
  const config = {
    type: 'line',
    data: data,
    options: {
      responsive:true,
    }
  };
</script>




<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>




</div>
</div>
</div>
</div>





{% endblock %}


