{% extends 'base.html' %}
{% load custom %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('#rncc').click(function() {
        var checked = this.checked;
        $('input[rncc="true"]').each(function() {
        this.checked = checked;
    });
    })
    $('#select-all').click(function() {
        var checked = this.checked;
        $('input[type="checkbox"]').each(function() {
        this.checked = checked;
    });
    })
    $('#rgd').click(function() {
        var checked = this.checked;
        $('input[rgd="true"]').each(function() {
        this.checked = checked;
    });
    })
});

</script>


<style>
#more {display: none;}
</style>



<form action="/user/train_wise_data/" method="POST">{% csrf_token %}
  <center class="center">
    <section class="pb-4">
      <div class="bg-white border rounded-5">


<center>
<div class="form-check">

  <input type="checkbox" id="select-all">
  <label style="margin-right:12px"><h5>Select All</h5></label>

  <input type="checkbox" id="rncc">
  <label style="margin-right:12px"><h5>RNCC</h5></label>


  <input type="checkbox" id="rgd">
  <label style="margin-right:12px"><h5>RGD</h5></label><br>

  <span id="dots"></span><span id="more">
      {% for t_n in train_number %}
      {% for train_number in t_n %}

        {% if train_number|convertint in rncc %}

            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rncc="true">

        {% elif train_number|convertint in rgd %}

            <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}" rgd="true">

        {% else %}
        <input type="checkbox" name="train_number" class="check-box" value="{{train_number|convertint}}">

        {% endif %}
            <label>
            {{train_number|convertint}}&nbsp;&nbsp;
            </label>

      {% endfor %}
      {% endfor %}
</div></center>
</span>
<center><button onclick="myFunction()" id="myBtn" type="button">Read more</button></center><br>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>

    {% if post %}
    <label for="start_date"><b>From:</b></label>
    <input id = "start-date" type="date" name="start_date" value="{{start_date}}">
    <label for="end_date"><b>To:</b></label>
    <input id="end-date" type="date" name="end_date" value="{{end_date}}">
    {% else %}
    <label for="start_date"><b>From:</b></label>
    <input id = "start-date" type="date" name="start_date">
    <label for="end_date"><b>To:</b></label>
    <input id="end-date" type="date" name="end_date">
    {% endif %}



    <button type="submit" class="btn btn-danger">Submit</button>
  </center>
</form>

<br>
<div class="col-xl-12 col-md-12">
<div class="card">
<div class="card-header">
<h4>Railway Data</h4>
<span class="text-muted">This is Graph Show for Railway </span>
</div>

<div class="card-blockk">
<div id="sales-analytics" style="height:100%;">

<div class="chart-container">
{% if data_show %}
  <center><h4><u>Data Show Graph For Train Number 
    {% for t_r in train %} {{t_r|convertint}}, {% endfor %}</u></h4></center>
{% else %}
{% endif %}

{% if post %}
{% if data_show %}
    <button onClick="download()">Download Data-Graph</button>
    <canvas id="myChart" height="40px" width="100%"></canvas>
{% else %}
<br>
<center><h2>Currenly No Data for this Train Number</h2></center>
{% endif %}
{% else %}
<br>
<center><h3>Kindly Enter Train Number and Filter With Date Range To see Data</h3></center>
{% endif %}
</div>




<script>
var canvasP = document.getElementById("myChart");
var ctxP = canvasP.getContext('2d');
var myPieChart = new Chart(ctxP, {
   type: 'bar',
   data: {
      labels: [{% for m in problem_type %}'{{m}}',{% endfor %}],
      datasets: [
        {   
            label:"Complaint Number from Each Complain",
            data: {{data_count}},
            backgroundColor: ["#64B5F6", "#FFD54F", "#2196F3", "#FFC107", "#1976D2", "#FFA000", "#0D47A1",'#FF8300','#EEFF70','#00FF83','#00E8FF',
                '#4200FF','#BD00FF','#FF8ED3'],
            hoverBackgroundColor: ["#64B5F6", "#FFD54F", "#2196F3", "#FFC107", "#1976D2", "#FFA000", "#0D47A1",'#FF8300','#EEFF70','#00FF83','#00E8FF',
                '#4200FF','#BD00FF','#FF8ED3']
       }]
   },
   options: {
    legend: {
         display: true,
         position: "top"
      },

}
});

canvasP.onclick = function(e) {
   var slice = myPieChart.getElementAtEvent(e);
   if (!slice.length) return; // return if not clicked on slice
   var label = slice[0]._model.label;
   switch (label) {
      // add case for each label/slice
      {% for p_t in problem_type %}
      case '{{p_t}}':
         window.open('/user/complain/{{p_t}}');
         break;
      {% endfor %}
   }
}



function download(){
  const imageLink = document.createElement('a');
  const canvas = document.getElementById('myChart');
  imageLink.download = 'Complaint_Number_From_Each_Complain.png'
  imageLink.href = canvas.toDataURL('media/data/canvas',1);
  // window.open(imageLink);
  // document.write('<img src=" '+imageLink+' "/>')

  // console.log(imageLink.href);
  imageLink.click();
}
</script>




</div>
</div>
</div>
</div>





{% endblock %}


